@use "./variables" as *;

body {
    &.light-mode {
        background-color: $kennedys-black-10;

        label {
            font-family: $semibold;
        }

        .tooltip {
            //background-color: $white-tint-006;
        }
        .landing-page {

            .k-input {
                input,
                button {
                    background-color: $white!important;;
                }
            }

            .angled-nav {
                background-color: $kennedys-black-25;

                input:not(.section-search input) {
                    &[type=radio],
                    &[type=checkbox] {
                        background-color: $white;

                        &:before {
                            background-color: $kennedys-blue-100;
                        }
                    }
                }

                .section-matters {
                    background-color: $kennedys-black-25;
                }

                .section-offices {
                    background-color: $kennedys-black-50;
                    h4, label {
                        color: $white!important;
                    }
                }

                .section-key {
                    li {
                        &:before {
                            border-color: $kennedys-black-100;
                        }

                        &:nth-child(6) {
                            &:before {
                                background-color: $kennedys-black-100;
                            }
                        }
                    }
                }

                h4:not(.section-search h4),
                label:not(.section-search label) {
                    color: $kennedys-black-75;
                }
            }

            .strapline {
                border-color: $kennedys-black-50;
                color: $kennedys-black-100;
            }

            .world-map-wrapper[class*="region-"] {
                .region-link:not(:hover) {
                    color: $kennedys-black-10!important;
                }
            }

            .map-regions {
                svg {fill: $kennedys-black-25;}
            }

            .world-map-wrapper {
                .region {
                    .buildings {
                        .bd {
                            strong {font-family: $bold!important;}
                        }
                    }
                }
                svg.world-map {
                    fill: $kennedys-black-50;
                    stroke: $kennedys-black-10;
                }
                .region-svg {
                    svg {
                        stroke: $kennedys-black-10!important;
                    }
                }
                .region-info-panel {

                    .key {
                        width: 1.2vw;
                        border-radius: .2vw;
                        height: .8vw;
                        font-size: 65%;
                        font-family: $bold;
                        letter-spacing: 0;
                        text-align: center;
                        line-height: .7vw;
                        transition: all 2s ease-in-out linear;
                        &.bg-yellow-100,
                        &.bg-red-100.marker-hollow,
                        &.bg-green-100,
                        &.bg-orange-100.marker-hollow {
                            color: $kennedys-black-100!important;
                        }
                        &.bg-orange-100:not(.marker-hollow),
                        &.bg-green-100:not(.marker-hollow) {
                            color: $kennedys-black-10!important;
                        }
                    }

                    h3 {
                        font-family: $semibold;
                    }

                    .region-link {
                        color: $kennedys-black-100;
                        font-family: $semibold;
                    }

                    .region-header {
                        .marker-large.marker-hollow {
                            background-color: $white!important;
                            color: $kennedys-black-100!important;
                        }
                    }

                    .dash-wrapper {
                        .dash-outer {
                            .dash span {
                                background-color: $kennedys-black-75;
                            }
                        }
                    }
                }

                .stats-panel {
                    h1, span {
                        color: $kennedys-black-100;
                        font-family: $medium;
                    }
                }
            }

            .overlay {
                background-color: $white-tint-08;

                h4 {color: $kennedys-black-75}

                .overlay-outer {
                    .search-wrapper {
                        .search-field {
                            input {
                                color: $kennedys-black-10;
                                &::placeholder {
                                    color: $kennedys-black-25;
                                }
                            }
                            path {
                                &#bg {fill: $kennedys-black-tint-05;}
                                &#bd {fill: $kennedys-black-25;}
                            }
                            .material-icons {color: $kennedys-black-10}
                        }
                        .close-btn {
                            &:hover {
                                circle {fill: $kennedys-black-75!important;}
                            //    path {fill: $kennedys-blue-100!important}
                            }
                            circle {
                                fill: $kennedys-black-50;
                                opacity: 1;
                                stroke: $kennedys-black-50;
                            }
                            path {fill: $kennedys-black-10;}
                        }
                    }

                    .overlay-bg-image {
                        .overlay-left-nav,
                        .overlay-left-nav-top,
                        .overlay-body,
                        .overlay-header {
                            stroke: $kennedys-black-25;
                        }

                        .overlay-left-nav {fill: $kennedys-black-tint-05}
                        .overlay-left-nav-top {fill: $kennedys-black-100}
                        .overlay-body {fill: $white-tint-004}
                        .overlay-header {fill: $kennedys-black-tint-05}
                    }
                }

                .nav-container {
                    ul {

                        &.collapsible-level-0 {
                            border-color: $kennedys-black-10;
                            background-color: $black-tint-08;
                        }

                        li {
                            background-color: $kennedys-black-10;
                            .nav-toggle.level-0 {
                                color: $white
                            }
                        }
                    }
                }

                .overlay-inner {
                    table td {font-family: $medium;}
                    h4:not(.widget h4),
                    h5,
                    span:not(table .material-icons, .tabs span, .nav-container span, h3 span),
                    table td,
                    .waffle__label,
                    text {
                        color: $kennedys-black-100!important;
                        fill: $kennedys-black-100!important;
                    }
                    .widget {
                        background-color: $white;
                        color: $kennedys-black-100;

                        h2 {
                            color: $kennedys-black-100;
                        }
                    }

                    select, input {
                        background-color: $kennedys-black-10;
                        color: $kennedys-black-100;
                    }
                }
            }

        }
    }
}