@use "./variables" as *;

#fade-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.angled-nav {
    position: relative;
    z-index: 200;
    overflow: hidden;
    min-width: max(30.5rem, 28vw);
    height: 100vh;
    margin: 0;
    background: $kennedys-black-100;
    clip-path: polygon(
        0 0, // Top left
        100% 0, // Top right
        calc(100% - 36.4vh) 100%, // Bottom right (angled in)
        0 100% // Bottom left
    );

    h4 {
        color: $kennedys-black-50;
    }

    .theme-selector {
        label:not(.radios label) {
            margin: 0 0 0 .75rem;
            border: 1px dotted $kennedys-black-50;
            color: $kennedys-black-25;
            letter-spacing: .06rem;
            padding: .25rem .5rem;
            border-radius: .5rem;
        }
    }

    .dash {
        position: relative;
        display: block;
        margin: 0;
        z-index: 2;
        background-image: repeating-linear-gradient(
            to right,
            $kennedys-black-25 0,
            $kennedys-black-25 6px,
            transparent 6px,
            transparent 10px
        );
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-position: center;
        width: 100%;
        height: .05rem;
    }

    section {
        padding: 1.465vw 2vw 1vw 2vw;

        h3.insight {
            margin: .3vw 0 0 .4vw;
        }

        &.section-search,
        &.section-offices {
            background-color: $kennedys-black-100-tint-dark;
        }
    }

}
